main {
    display: grid;
    place-items: center;
}
form {
    max-width: 550px;
}

input[name="title"] {
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 1px;
}

.button-group {
    margin: 1em 0;
}