main {
    display: grid;
    place-items: center;
}
form {
    max-width: 400px;
    &.submitted {
        input:invalid,
        select:invalid {
            ~ .errorMessage {
                color: rgba(255, 0, 0, 0.65);
                transform: translateY(0);
            }
        }
    }
}

.errorMessage {
    font-size: x-small;
    color: transparent;
    transform: translateY(-1em);
    transition-duration: 0.5s;
}

fieldset {
    border: none;
    padding: 0;
}

.input-group {
    position: relative;
    padding: 1em 0 0.5em;
    margin: 0;
    border: none;
    input,
    select,
    textarea {
        position: relative;
        z-index: 1;
        padding: 5px 10px;
    }
    label {
        position: absolute;
        top: 0.2em;
        left: 0;
        font-size: 12px;
    }
    .errorMessage {
        position: relative;
        z-index: 0;
    }
}

input,
select,
textarea {
    width: 100%;
    &:required {
        &~label {
            &::after {
                content: '*';
                color: red;
            }
        }
    }
}

.button-group {
    margin: 1em 0;
}