<main class="align-center">
<h1>
    Create Training
</h1>
<form #trainingForm="ngForm"
    (submit)="mode === 'create'? create(trainingForm) : edit(trainingForm)"
    [class.submitted]="trainingForm.submitted" >

    <input type="hidden"
            name="id"
            autocomplete="OFF"
            readonly
            [(ngModel)]="form.id" >

    <fieldset class="input-group">
        <input type="text"
                id="title"
                name="title"
                required
                #firstInput
                [(ngModel)]="form.title"/>
        <label for="title">
            Training title
        </label>
        <div class="errorMessage">
            Title is required
        </div>
        
    </fieldset>

    <fieldset class="input-group">
        <select id="department"
                name="department"
                required
                [(ngModel)]="form.department">

            <option *ngFor="let department of departments"
                    [value]="department">
                {{department}}
            </option>
        </select>
        <label for="department">
            Department
        </label>
        <div class="errorMessage">Department is required</div>
    </fieldset>

    <fieldset class="grid">
        <!-- col-**-## and grid are classes comming from the libray 
            12-column-grid
            and not bootstrap
            I am the author of this library
        -->
        <div class="input-group col-sm-6 col-xs-12">
            <input type="date"
                id="date"
                name="date"
                [min]="today"
                required
                [(ngModel)]="form.date">

            <label for="date">
                Date
            </label>
            <div class="errorMessage">Date is required</div>
        </div>
        
        <div class="input-group col-sm-6 col-xs-12">
            <input type="time"
                id="startTime"
                name="startTime"
                required
                [(ngModel)]="form.startTime">
            <label for="startTime">
                Start time
            </label>
            <div class="errorMessage">Start time is required</div>
        </div>

    </fieldset>

    <fieldset class="grid">
        <div class="input-group col-sm-6 col-xs-12">
            <select id="duration"
                    name="duration"
                    required
                    [(ngModel)]="form.duration">
                <option *ngFor="let t of durations"
                        [value]="t">
                    {{t}} hours
                </option>
            </select>
            <label for="duration">
                Duration
            </label>
            <div class="errorMessage">Training duration is required</div>
        </div>
        <div class="input-group col-sm-6 col-xs-12">
            <select id="room"
                    name="room"
                    required
                    [(ngModel)]="form.room">
                <option *ngFor="let meetingRoom of meetingRooms"
                        [value]="meetingRoom">
                    {{meetingRoom}}
                </option>
            </select>
            <label for="room">
                Meeting Room
            </label>
            <div class="errorMessage">Meeting Room is required</div>
        </div>
        
    </fieldset>

    <fieldset>
        <div class="input-group">
            <textarea id="description"
                    name="description"
                    rows="6"
                    [(ngModel)]="form.description">
            </textarea>
            <label for="description">
                Description
            </label>
        </div>
    </fieldset>

    <div class="button-group">
        <button type="submit"
                class="col-4">
            Save
        </button>
        <button type="reset"
                class="col-4"
                (click)="mode === 'update' ? getTraining() : undefined">
            Clear
        </button>
    </div>
    

</form>
</main>
