<main class="align-center">
<h1>
    Create a training
</h1>
<form #form="ngForm"
    (submit)="create(form)"
    [class.submitted]="form.submitted" >

    <input type="hidden"
            name="id"
            autocomplete="OFF"
            ngModel>

    <fieldset class="input-group">
        <input type="text"
                id="title"
                name="title"
                required
                ngModel/>
        <label for="title">
            Training title
        </label>
        <div class="errorMessage">
            Title is required
        </div>
        
    </fieldset>

    <fieldset class="input-group">
        <select id="department"
                name="department"
                required
                ngModel>

            <option *ngFor="let department of departments"
                    [value]="department">
                {{department}}
            </option>
        </select>
        <label for="department">
            Department
        </label>
        <div class="errorMessage">Department is required</div>
    </fieldset>

    <fieldset class="grid">
        <!-- col-4 and grid are classes comming from the libray 
            12-column-grid
            and not bootstrap
            I am the author of this library
        -->
        <div class="input-group col-4">
            <input type="date"
                id="date"
                name="date"
                required
                ngModel>

            <label for="date">
                Date
            </label>
            <div class="errorMessage">Date is required</div>
        </div>
        
        <div class="input-group col-4">
            <input type="time"
                id="time"
                name="time"
                required
                ngModel>
            <label for="time">
                Start time
            </label>
            <div class="errorMessage">Start time is required</div>
        </div>

        <div class="input-group col-4">
            <select id="duration"
                    name="duration"
                    required
                    ngModel>
                <option *ngFor="let t of durations"
                        [value]="t">
                    {{t}} hours
                </option>
            </select>
            <label for="duration">
                Duration
            </label>
            <div class="errorMessage">Training duration is required</div>
        </div>
    </fieldset>

    <fieldset>
        <div class="input-group">
            <select id="room"
                    name="room"
                    required
                    ngModel>
                <option *ngFor="let meetingRoom of meetingRooms"
                        [value]="meetingRoom">
                    {{meetingRoom}}
                </option>
            </select>
            <label for="room">
                Meeting Room
            </label>
            <div class="errorMessage">Meeting Room is required</div>
        </div>
        
    </fieldset>

    <fieldset>
        <div class="input-group">
            <textarea id="description"
                    name="description"
                    ngModel>
            </textarea>
            <label for="description">
                Description
            </label>
        </div>
    </fieldset>

    <div class="grid button-group">
        <button type="submit"
                class="col-4">
            Save
        </button>
        <button type="reset"
                class="col-4">
            Clear
        </button>
    </div>
    

</form>
</main>
