<header>
    <h1 class="col-sm-6 col-xs-12">
        Scheduled Trainings
    </h1>
    <form class="searchIconForm">
        <input type="search"
                name="search"
                placeholder="search"
                [(ngModel)]="searchInput">
        <button>🔎</button>
    </form>
</header>

<ul>
    <li class="add" routerLink="create">

    </li>
    <li *ngFor="let training of (trainings$ | async)">
        
        <h3 [innerHTML]="training.title | highlight: searchInput" ></h3>
        <div class="time">
            <small *ngIf="training.time"
                    [innerHTML]="training.time | date | highlight: searchInput" >
            </small>
            <ng-template [ngIf]="training.duration">
                <small> - </small> 
                <small [innerHTML]="training.duration | highlight: searchInput">
                </small>
                <small>{{ training.duration > 1? ' hours' : ' hour'}}</small>
            </ng-template>
            
        </div>
        <p class="room"
            [innerHTML]=" 'Room - ' + training.room | highlight: searchInput">
        </p>
        <p class="department"
            [innerHTML]=" 'Department - ' + training.department | highlight: searchInput">
        </p>
        <p class="description"
            [innerHTML]="training.description | highlight: searchInput">
        </p>
        <a class="icon" [routerLink]="'edit/' + training.id" >✎</a>
    </li>
</ul>
