<header>
    <h1 class="col-sm-6 col-xs-12">
        Scheduled Trainings
    </h1>
    <form class="searchIconForm">
        <input type="search"
                name="search"
                [(ngModel)]="searchInput">
        <button>🔎</button>
    </form>
</header>

<ul>
    <li class="add" routerLink="create">

    </li>
    <li *ngFor="let training of (trainings$ | async)">
        
        <h3>{{training.title}}</h3>
        <div class="time">
            <small *ngIf="training.time">{{training.time | date}}</small>
            <ng-template [ngIf]="training.duration">
                <small> - </small> 
                <small>
                    {{training.duration}} 
                    {{ training.duration > 1? 'hours' : 'hour'}}
                </small>
            </ng-template>
            
        </div>
        <p class="room">Room - {{training.room}} </p>
        <p class="department">Department - {{training.department}} </p>
        <p class="description"> {{training.description}} </p>
        <a class="icon" [routerLink]="'edit/' + training.id" >✎</a>
    </li>
</ul>
