* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, 
                "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --theme: white;
    --body-bg: #e8e8e8;
    --bulge-concave-bg: linear-gradient(145deg, #d1d1d1, #f8f8f8);
    --bulge-convex-bg: linear-gradient(145deg, #f8f8f8, #d1d1d1);
    --bulge-shadow: 10px 10px 17px #c5c5c5, 
                    -10px -10px 17px #ffffff;
    --dip-shadow: inset 10px 10px 17px #c5c5c5, 
                  inset -10px -10px 17px #ffffff;

    /// picked this blue color from sweet alerts 2 button
    /// blue with green looks great togather
    /// without attracting too much of attention
    --button-submit-border: 1px solid rgb(48, 133, 214);
    --button-submit-color: #22733f;
}

html,
body {
    margin: 0;
    height: 100vh;
}

* {
    :focus {
        outline: none;
    }
}

body {
    background: var(--body-bg);
}

h1 {
    /// bold titles look like old movie titles
    font-weight: 200;
    /// increases readability of big size fonts
    letter-spacing: 2px;
}

.button-group {
    display: flex;
    justify-content: center;
    /// gap in flexbox is not fully supported
    // gap: 24px;
}

button {
    border-radius: 20px;
    border: none;
    height: 40px;
    background: var(--bulge-concave-bg);
    box-shadow:  var(--bulge-shadow);
    padding: 10px 16px;
    min-width: 100px;
    margin-right: 24px;
    &:active {
        background: var(--body-bg);
        box-shadow: var(--dip-shadow);
    }
    /// give more visual weight to submit button
    &[type=submit] {
        border: var(--button-submit-border);
        color: var(--button-submit-color);
    }
}

a {
    text-decoration: none;
    &.icon {
        --size: 30px;
        border-radius: var(--size);
        width: var(--size);
        height: var(--size);
        font-size: calc( var(--size) * 3 / 5 );
        box-shadow: var(--bulge-shadow);
        background: var(--bulge-convex-bg);
        display: grid;
        place-items: center;
        border: 1px solid #d8d8d8;
        transition-duration: 0.5s;
        cursor: pointer;
        user-select: none;
        &:hover,
        &:focus {
            transform: scale(1.2);
            &:active {
                background: var(--bulge-concave-bg);
            }
        }

    }
}

/// @todo fix all sweetalert issues
.swal2-actions.swal2-loading .swal2-styled.swal2-confirm {
    min-width: 50px;
}